.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}

.menuLink{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--text-over-primary);
    border-radius: 0.8rem;
    transition: all 0.1s ease-in-out;
    padding: 1.2rem;

}

.menuLink:hover{
    filter: brightness(80%);
}

.menuLink svg{
    width: 2.4rem;
    height: 2.4rem;
}